.products{
    margin-bottom: 20px;
}
.detailProduct{
    display: flex;
    align-items: start;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;   
}
.buttonNav{
    background-color: #A7000C;
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    margin: 10px;
    border-radius: 20px;
}
.card {
    background-color: rgba(255, 255, 255, 0.8); /* Blanc semi-transparent */
    border-radius: 20px;
  }