.products{
    margin-bottom: 20px;
}
.productList{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    border-color: black;
    border-style: solid;
    margin-left: 300px;
    margin-right: 300px;
    margin-bottom: 5px;
    margin-top: 5px; 
}
.detailProduct{
    display: flex;
    align-items: start;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;   
}
.buttonNav{
    background-color: #A7000C;
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    margin: 10px;
    border-radius: 20px;
}