header{
background-color: #A7000C;
color: white;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}
.siteTitle{
    display: flex;
    align-items: center;
    text-decoration: none;
}
.title{
    margin-left: 10px;
    color: white;
}
.logo{
    max-height: 150px;
}
.userName{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}